@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700,800');


.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
}

html {
  font-size: 10px;
  background: #212125;
}
body {
  font-size: 1.6em;
}
